extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/login.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/materialize.min.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/icon.css', type='text/css')
  title Gallery-3d

block content
  div#app

  input#init-data(type='hidden' value=JSON.stringify(message))
  script.
    window['gallery-3d'] = window['gallery-3d'] || {}
    window['gallery-3d'].data = JSON.parse(document.getElementById('init-data').value)

  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/materialize.min.js')
  script(src='/javascripts/login-app.js')
