extends layout

block append head
  title Gallery-3d

block content
  div#app

  script(src='/javascripts/moxie.js')
  script(src='/javascripts/plupload.dev.js')
  script(src='/javascripts/qiniu.js')
  script(src='/javascripts/main-app.js')
