extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/share-app.css', type='text/css')
  title Gallery-3d

block content
  div#app

  input#init-data(type='hidden' value=JSON.stringify(data))
  script.
    window['gallery-3d'] = window['gallery-3d'] || {};
    window['gallery-3d'].data = JSON.parse(document.getElementById('init-data').value);
  script(src='/javascripts/share-app.js')
